@import '../../../styles/global.scss';

#view-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 12px;
  background-color: rgb(255, 255, 255);
  max-width: 660px;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;

  .video-header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 10px;
    padding-top: 10px;
    box-sizing: border-box;
  }
  .video-info {
    margin-left: 10px;
  }
  .video-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  .video-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    .likes {
      display: flex;
    }
    .share {
      margin-left: 10px;
      display: flex;
    }
    .viewers {
      display: flex;
    }
  }
  .video-section {
    padding-top: 10px;
    @extend .flex-center;
  }
  #view-secondary-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10000;
    @extend .flex-center;
  }
  .list-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
