.controls {
  display: flex;
  height: 37px;
  // align-items: center;
  position: relative;
  // bottom: -50px;
  // background-color: rgba(255, 255, 255, 0.3);
  // width: 100%;
  // height: 50px;
  // border-top: 1px solid black;
  // padding: 0px;
  // margin: 0px;

  .chat-input {
    // margin: 0px;
    // height: 100%;
    // padding: 10px;
    // border: 0;
    // padding: 10px;
    // padding: 30px;
  }

  input {
    // margin: 0px;
    // height: 100%;
    // padding: 10px;
    // caret-color: #1b0900;
    // border: 0;
  }

  input:focus-visible {
    // outline: none;
  }

  input::placeholder {
    // color: #1b0900;
  }

  .sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 140, 0);
    width: 40px;
    height: 100%;
    background-color: #1b0900;
    border: none;
  }
  svg[data-testid='SendIcon'] {
    font-size: 19px;
  }
}

aside.EmojiPickerReact {
  position: absolute;
  bottom: $sp-input-height;
  right: 0px;
}

.EmojiPickerReact.epr_-6npj90 {
  display: flex;
  flex-direction: column-reverse;
  --epr-emoji-size: 20px;
  --epr-picker-border-radius: 0px;
  --epr-search-input-border-radius: 0px;
  --epr-category-navigation-button-size: 30px;
  --epr-header-padding: 5px;
  --epr-category-label-height: 30px;
  --epr-preview-height: 50px;
  --epr-dark-search-input-bg-color-active: #1b0900;
  --epr-search-input-text-color: rgb(255, 140, 0);
}

.epr_6daqyu .epr-emoji-category-label {
  font-family: 'iAWriterQuattroV';
}

.epr_6daqyu input {
  height: $sp-input-height;
  font-family: 'iAWriterQuattroV';
}

.epr-header .epr_-8ygbw8 {
  padding-left: 10px;
  padding-right: 10px;
}

.epr_-bbny0t > button.epr-btn {
  border-radius: 0px;
}
