@import '../../styles/global.scss';

.chat {
  position: relative;
  padding: 10px;
  height: calc(100vh - $sp-header-height - 10px);
  width: 390px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;

  .header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    height: 37px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-left: 12px;
    padding-right: 12px;
    color: $sp-text-orange;
    background-color: $sp-bg-primary-100;
  }

  .nickNameEditButton {
    color: $sp-text-orange;
    background-color: transparent;
    border: 1px solid $sp-text-orange;
    border-radius: 12px;
    display: flex;
    padding: 5px;
  }

  .header input::placeholder {
    color: $sp-bg-primary-100;
  }

  .body {
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    height: 83vh;
  }

  .set-name {
    height: 26px;
    padding: 0px;
    background-color: white;
    color: $sp-bg-primary-100;
    @extend .flex-center;
  }
  .editButtons {
    display: flex;
    justify-content: space-between;
  }

  .editButtons .closeButton {
    font-weight: bold;
    border-radius: 50px;
    background-color: #2a2828;
    color: $sp-text-orange;
    border: 1px solid $sp-text-orange;
    margin-left: 10px;
  }

  .editButtons .okButton {
    font-weight: bold;
    border-radius: 12px;
    background-color: #ebe3e3;
    color: rgb(65, 42, 0);
    border: 1px solid rgb(65, 42, 0);
    margin-left: 10px;
  }

  input.set-name {
    background-color: $sp-bg-primary-100;
    border: 0px;
    border-bottom: 1px solid $sp-text-orange;
    caret-color: $sp-text-orange;
    color: $sp-text-orange;
  }
  input.set-name::placeholder {
    color: $sp-text-orange;
  }
  .actualNickName {
    position: absolute;
    padding: 0px 10px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 37px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    box-shadow: 0 6px 11px 0 rgb(0 0 0 / 52%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @keyframes slide {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }

  .unseenMessages {
    animation: slide 2s infinite;
    background: linear-gradient(90deg, #dddd00, #dddd00, #ffffaf, #dddd00, #dddd00);
    background-size: 200%;
    position: absolute;
    bottom: 37px;
    color: $sp-bg-primary-100;
    width: 100%;
    border: none;
    font-weight: bold;
    @extend .flex-center;
  }
  .chatFooter {
    box-shadow: 0px -6px 11px 0px rgb(0 0 0 / 29%);
  }
}
