@import '../../styles/global.scss';

.chat {
  position: relative;
  height: calc(100vh - $sp-header-height);
  width: 360px;
  background-color: rgba(255, 255, 255, 0.295);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .register-container {
    font-weight: bold;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px 12px;
    background-color: $sp-bg-primary-100;
  }

  .body {
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    height: 83vh;
  }

  .actual-nickname {
    position: absolute;
    width: 100%;
    height: 37px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: rgb(193 126 114);
    box-shadow: 0 6px 11px 0 rgb(0 0 0 / 52%);
    @extend .flex-center;
  }

  @keyframes slide {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }
}
