.message {
  font-size: 11px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
}
.message-with-indicator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}
.message-indicator {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-top: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.name {
  margin-left: 5px;
  font-size: 10px;
}
.own {
  font-weight: bold;
  max-width: 310px;
  overflow-wrap: break-word;
  margin-left: auto;
  padding: 10px;
  border-radius: 12px;
  color: $sp-bg-primary-100;
  margin-right: 5px;
  border-top-right-radius: 0;
  background: linear-gradient(0deg, rgb(255 139 34), rgb(255 121 0));
}

.other {
  background: linear-gradient(360deg, #220035, $sp-bg-primary-100);
  font-weight: bold;
  max-width: 310px;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 12px;
  color: $sp-text-orange;
  margin-left: 5px;
  border-top-left-radius: 0;
}
.message-with-name {
  display: flex;
  flex-direction: column;
}
.message-without-name {
  display: flex;
  margin-left: auto;
}
