@import '../../../styles/global.scss';

.video-list-item {
  .icon-hover {
    display: none;
  }
  &:hover {
    .icon-default {
      display: none;
    }
    .icon-hover {
      display: block;
    }
  }
  background: linear-gradient(135deg, #190029, #310050);
  cursor: pointer;
  height: 103px;
  width: 145px;
  border: 1px solid $sp-bg-primary-100;
  @extend .flex-center;
  img {
    width: 30p;
    height: 30px;
  }
}
