@import '../../styles/global.scss';

.join-button {
  color: white;
  width: 95%;
  height: 20px;
  background-color: rgb(255, 140, 0);
  border-color: orange;
  @extend .flex-center;

  &:hover {
    border-color: rgb(239, 63, 63);
    background-color: rgb(255, 140, 0);
  }
}
