.text-input-container {
  width: 100%;
}

.text-input-icon {
  position: absolute;
  right: 40px;
  bottom: 6px;
  color: #1b090070;
}

.text-input-container input {
  transition: border-color 0.2s;
  width: 100%;
  height: $sp-input-height;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid white;
  color: #1b0900;
  caret-color: #1b0900;
  font-family: 'iaWriterQuattroV';
}

.text-input-container input:focus {
  border: 1px solid #1b0900;
}

.text-inpu-container input::placeholder {
  color: #1b0900;
}
