.stream {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - #{$sp-header-height});
  // height: 100vh;

  .stream-form {
    display: flex;
    flex-direction: column;
    // margin-top: 50px;
    min-width: 400px;
    height: calc(100vh - #{$sp-header-height});

    .indicator {
      margin: auto;
    }
    p {
      margin: 0;
      margin-bottom: 8px;
      font-size: 14px;
    }
    .text-input-container {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
      padding: 0;
    }
    button {
      margin-top: 20px;
      min-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
